<%= form_tag questions_path, multipart: true %>
<div class="form-group">
  <%= label_tag "Enter Answer A" %>
  <%= text_field_tag "A" %>
</div>
<div class="form-group">
  <%= label_tag "Add Image A" %>
  <%= file_field_tag "PhotoA" %>
</div>
<div class="form-group">
  <%= label_tag "Enter Answer B" %>
  <%= text_field_tag "B" %>
</div>
<div class="form-group">
  <%= label_tag "Add Image B" %>
  <%= file_field_tag "PhotoB" %>
</div>
<%= submit_tag "Create Question" %>
