<!DOCTYPE html>
<html>
  <head>
    <title>Rather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "application", "chartkick" %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= image_tag 'x.png', class: 'x' %>
          <h4 class="message"><%= value %></h4>
        </div>
      <% end %>
    </div>

    <div class="container-fluid nav-wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul class="main-nav">
              <li><%= link_to image_tag('barn.png'), root_path, class: 'barn' %></li>
              <% if current_user %>
                <li><%= link_to "Add New Question",  new_question_path, remote: true %></li>
              <% end %>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul id="main-nav" class="main-nav">
              <% if current_user %>
                <li><%= link_to current_user.name, edit_user_registration_path %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
              <% else %>
                <li><%= link_to "Log In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
          <div id="drop-down-question">

          </div>
        </div>
      </div>
    </div>

    <div class="container main-content">
      <%= yield %>
    </div>
  </body>
</html>
